  <div class="row">
  <div class="col-sm-5 border-right">
    <h5>Ingredients in cart:</h5>
    <div class="w-75 float-right">
      <ul class="list-group mt-2 ">
      <a class="list-group-item list-group-item-action" style="cursor: pointer" *ngFor="let ingredient of ingredients; let i = index;" (click)="click(i)">
      {{ingredient.name}}({{ingredient.amount}})</a>
    </ul>
    </div>
  </div>
  <div class="col-sm-5">
      <h5>Add/Edit Ingredients:</h5>
    <app-shopping-list-edit></app-shopping-list-edit>
  </div>
</div>